$accentColor = #d77494 // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色
.site-name {
  color: #d77494 !important;
}
body, input[type=range]::-webkit-slider-thumb, input[type=range]::-webkit-slider-runnable-track {
  cursor: url("http://42.193.176.171:8088/cusr.png") 0 0, default !important;
}

.home-blog, .theme-container {
  background: url("http://42.193.176.171:8088/kv-slide-loading-bg.png") repeat;
  cursor: url("http://42.193.176.171:8088/cusr.png") 0 0, default !important;
}

#app {
  cursor: url("http://42.193.176.171:8088/cusr.png") 0 0,default !important;
  background: url("http://42.193.176.171:8088/kv-slide-loading-bg.png") repeat !important;
  min-height: 1080px !important;
}

/* 这是匹配横屏的状态，横屏时的css代码 */

@media all and (orientation :landscape){
  .page{
    min-height:88vh;
  }
}

/* 这是匹配竖屏的状态，竖屏时的css代码 */

@media all and (orientation :portrait){
  .page{
    min-height:95vh;
  }
}

.el-tabs__active-bar {
  background-color: #d77494 !important;
}

.el-tabs__item.is-active {
  color: #d77494 !important;
}

.el-tabs__item:hover {
  color: #d77494 !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #d77494 !important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #d77494 !important;
}

.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: #d77494 !important;
}

// el表格多出空白行，未知，强制写死解决
.el-table__header-wrapper{
  height:48px
}



